<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2026 Ping Identity Corporation. All rights reserved.
  ~
  ~ This software may be modified and distributed under the terms
  ~ of the MIT license. See the LICENSE file for details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.pingidentity.recognize.journey.CallbackInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.pingidentity.recognize.davinci.CollectorInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>
